@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Tangerine:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* root, body height set at 100% for flex-grow */
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  min-height: 615px;
  min-width: 374px;
}

#content {
  height: 100%; /* needed for flex-grow */
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #ecc756;
  height: 11vh;
  padding: 10px;
}
#logo {
  height: auto;
  width: 118px;
  margin-top: 31px;
}
#logo:hover {
  transform: scale(1.02);
  cursor: pointer;
}
#nav-list {
  display: flex;
  gap: 20px;
  letter-spacing: 1.2px;
}
.nav-item:last-of-type {
  margin-right: 20px;
}
.nav-item:hover {
  cursor: pointer;
}

.nav-item:hover,
#github-link:hover {
  color: #fff;
}


main {
  flex: 1; /* main content grows to fit space */
  display: flex;
  align-items: center;
  background-color: #1f1f1f; /* fallback color */
  background-image: 
  linear-gradient(
    90deg,
      rgba(255, 255, 255, 0),
      rgba(50, 50, 50, 0.8)
    ),
    url('../assets/images/pizza-bkgrnd.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}
.main-contnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  min-width: 374px;
}
#story-contnr, #menu-contnr, #location-contnr {
  margin: 6vh auto;
  background-color: #000;
  word-spacing: 1.1px;
  color: #fff;
}
h1 {
  font-family: 'Tangerine', cursive;
  font-size: 65px;
  font-weight: 700;
  color: #ecc756;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #000000;
  height: 10vh;
  min-height: 72px;;
}
.media-link {
  margin: 3px;
}
.media-img:hover {
  transform: scale(1.1);
}
#credits {
  color: #ecc756;
  letter-spacing: 1.1px;
}
#github-logo {
  height: 24px;
  width: 24px;
  border-radius: 5px;
  margin-bottom: -4px;
}
#github-link {
  fill: #ecc756;
}
#github-link:hover {
  fill: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 580px) {
  #header {
    flex-direction: column;
    height: auto; /* contain contents w/o cropping */
    padding: 11px;
    gap: 11px;
  }
  #logo {
    object-fit: cover; /* crop image but preserve aspect ratio */
    height: 84px;
    width: 118px;
    object-position: -6px -2px;
    margin: 0;
  }
  #nav-list {
    font-size: 90%;
    width: 100%;
    justify-content: space-evenly;
  }
  .nav-item:last-of-type {
    margin: 0;
  }

  main {
    display: block;
  }

  footer {
    flex-direction: column;
    height: auto;
    min-height: auto;
    padding: 22px 0 15px;
    gap: 11px;
    font-size: 90%;
  }
}