#menu-container {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 90vw;
  margin: 6vh auto;
  padding: 3vw 0;
  background-color: #000;
  /* letter-spacing: 1.1px; */
  word-spacing: 1.1px;
}

#menu-heading {
  font-size: 65px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 75%;
  color: #fff;
}

h2 {
  font-size: 26px;
  color: #ecc756;
  align-self: center;
}

h4 {
  font-size: 22px;
  font-weight: 700;
}

hr {
  width: 50%;
}