#menu-contnr {
  padding: 3vw 0;
  gap: 5vh;
}
.menu-sctn {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 75%;
}
.create {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.toppings-contnr {
  display: flex;
  gap: 2vw;
}
.toppings {
  width: 50%;
}
h2 {
  font-size: 26px;
  color: #ecc756;
  align-self: center;
}
h4 {
  color: #ecc756;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 2px;
}
hr {
  width: 50%;
}