#reviews-contnr {
  margin-top: -40px;
  gap: 30px;
}
#reviews-hdng {
  font-size: 60px;
}
#heading-span {
  font-size: 65px;
}
blockquote {
  display: flex;  
  flex-direction: column;
  gap: 6px;
  font-style: italic;
  font-size: 20px;
  max-width: 450px;
  line-height: 1.5;
}
.quote {
  text-align: justify;
}
cite {
  width: 100%;
  text-align: end;
  font-size: 18px;
}

@media (max-width: 580px) {
  #reviews-hdng {
    font-size: 50px;
  }
  
  #heading-span {
    font-size: 55px;
  }

  blockquote {
    font-size: 18px;
  }
  cite {
    font-size: 16px;
  }

  #reviews-contnr {
    width: 100%;
    padding: 18px;
    margin: 7vh 0 0;
    gap: 3vh;
  }
}