#story-container {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 18px;
  width: 90vw;
  margin: auto;
  padding: 18px;
  background-color: #000;
}

#story-heading {
  font-size: 65px;
}

.story {
  /* background-color: white; */
  color: #fff;
  line-height: 1.2;
  font-size: 18px;
  text-align: justify;
}