/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************/

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#content {
  background: center / cover no-repeat url("../src/assets/pizza.jpg");
}




.site-header {
  display: flex;
  background-color: #000000de;
  color: #ecc756;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 5px;

}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 10px;

}



#logo-link {
  font-family: 'Tangerine', cursive;
  font-size: 44px;
  font-weight: 700;

  display: flex;
  align-items: center;
}


#logo-link:hover {
  transform: scale(1.01);
}

#logo-crown {
  height: auto;
  width: 25px;
  margin-left: 5px;
  margin-top: 8px;

}
#logo-name {
  font-size: 48px;
  margin-left: 5px;
}

.nav-links {
  display: flex;
  border: solid 2px green;
  letter-spacing: 1.2px;
}
.nav-list {
  display: flex;
  gap: 20px;
  border: solid 2px purple;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item:last-of-type {
  margin-right: 20px;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#award-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ecc756; */
  padding: 10px;
  gap: 10px;
  border-radius: 2px;

  background: center / contain no-repeat url('../src/assets/banner.png');
  border: solid 2px red;
}
#award-title {
  font-size: 40px;
  font-weight: 700;
}
#award-description {

}


footer {
  background-color: #000000de;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}