* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-header {
  display: flex;
  background-color: black;
  color: #ecc756;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-height: 72px;
  padding: 10px;
}

#logo-link:hover {
  transform: scale(1.02);
}
#logo-img {
  height: auto;
  width: 118px;
  margin-top: 28px;
}
.nav-links {
  display: flex;
  gap: 20px;
  letter-spacing: 1.2px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item:hover {
  color: white;
}
.nav-item:last-of-type {
  margin-right: 20px;
}


main {
  background: center / cover no-repeat url("../src/assets/pizza-bkgrnd.jpg");
  height: 90vh;
  padding: 20px;
}
#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Tangerine', cursive;
  width: 70vw;
  padding: 1vw;
  margin-left: 1vw;
}
h1 {
  font-family: 'Tangerine', cursive;
  font-size: 8vw;
  font-weight: 700;
  color: #ecc756;
  margin: 53px auto 11px;
}
#header-span {
  font-size: 9vw;
}
blockquote {
  font-family: 'Lato', sans-serif;
  color: white;
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
  display: flex;
  font-size: 2vw;
  flex-direction: column;
}
#quote {
  text-align: justify;
  line-height: 1.5;
}
cite {
  align-self: flex-end;
  font-size: 1.8vw;
  margin-top: 5px;
}


#award-container {
  margin-bottom: 60px;
}
#award-image {
  height: auto;
  width: 55vw;
  min-width: 500px;
  max-width: 1200px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  min-height: 72px;;
}
.media-link {
  margin: 3px;
}
/* .media-link:first-of-type {
  margin: 10px;
} */
.media-img:hover {
  transform: scale(1.1);
}
#credits {
  color: #ecc756;
  letter-spacing: 1.1px;
}

#github-logo {
  height: 24px;
  width: 24px;
  border-radius: 5px;
  margin-bottom: -4px;
}
#github-link {
  fill: #ecc756;
}

#github-link:hover, #github-logo:hover {
  color: white;
  fill: white;
}
