* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #ecc756;
  height: 10vh;
  min-height: 72px;
  padding: 10px;
}
#logo-link:hover {
  transform: scale(1.02);
}
#logo-img {
  height: auto;
  width: 118px;
  margin-top: 28px;
}
.nav-links {
  display: flex;
  gap: 20px;
  letter-spacing: 1.2px;
}
.nav-item:last-of-type {
  margin-right: 20px;
}
.nav-item:hover,
#github-link:hover {
  color: white;
}

main {
  background-color: #1f1f1f; /* fallback color */
  background-image: 
  linear-gradient(
    90deg,
      rgba(255, 255, 255, 0),
      rgba(50, 50, 50, 0.8)
    ),
    url("../src/assets/pizza-bkgrnd.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  padding: 20px;
}
#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Tangerine', cursive;
  width: 90vw;
  padding: 15px;
}
h1 {
  font-family: 'Tangerine', cursive;
  font-size: 8vmin;
  font-weight: 700;
  color: #ecc756;
  margin: 40px auto 25px;
}
#title-span {
  font-size: 9vmin;
}
blockquote {
  font-family: 'Lato', sans-serif;
  color: white;
  font-style: italic;
  max-width: 545px;
  margin: 0 1vw 20px;
  text-align: left;
  display: flex;
  font-size: 2vmin;
  flex-direction: column;
}
.quote {
  text-align: justify;
  line-height: 1.5;
}
cite {
  align-self: flex-end;
  font-size: 1.8vmin;
  margin-top: 6px;
}


#award-container {
  margin-bottom: 60px;
}
#award-image {
  height: auto;
  width: 55vw;
  min-width: 500px;
  max-width: 1200px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  min-height: 72px;;
}
.media-link {
  margin: 3px;
}
/* .media-link:first-of-type {
  margin: 10px;
} */
.media-img:hover {
  transform: scale(1.1);
}
#credits {
  color: #ecc756;
  letter-spacing: 1.1px;
}

#github-logo {
  height: 24px;
  width: 24px;
  border-radius: 5px;
  margin-bottom: -4px;
}
#github-link {
  fill: #ecc756;
}
#github-link:hover {
  fill: white;
}
